.particleContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.particle {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 9999px;
  opacity: 0.2;
}

.openingParticle {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fef08a;
  border-radius: 9999px;
}
