.cardGridWrapper {
  width: 100%;
  overflow-x: auto;
  scrollbar-gutter: stable;
  padding: 4rem 2rem;
}

.cardGrid {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  padding: 0 2rem;
  width: max-content;
  margin: 0;
}

@media (min-width: 768px) {
  .cardGrid {
    gap: 2.5rem;
  }
}

.cardGridWrapper::-webkit-scrollbar {
  height: 8px;
}

.cardGridWrapper::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.cardGridWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  transition: background-color 0.2s;
}

.cardGridWrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.cardContainer {
  position: relative;
  cursor: pointer;
}

.cardWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 10rem;
  height: 14rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  transform-style: preserve-3d;
}

@media (min-width: 768px) {
  .card {
    width: 12rem;
    height: 16.5rem;
  }
}

.cardBack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom right, #991b1b, #b91c1c);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.cardBackImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.cardFront {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foilOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    120deg,
    #ff0000,
    #ff7f00 10%,
    #ffff00 20%,
    #00ff00 30%,
    #0000ff 40%,
    #4b0082 50%,
    #9400d3 60%,
    #ff0000 70%
  );
  background-size: 400% 400%; /* Increased size for smoother movement */
  animation: foil-animation 6s linear infinite; /* Increased duration for smoother loop */
  mix-blend-mode: overlay;
  opacity: 0; /* Start with opacity 0 */
  pointer-events: none;
  border-radius: 0.5rem;
  z-index: 1;
}

@keyframes foil-animation {
  0% { background-position: 0% 0%; opacity: 0; } /* Start faded out */
  25% { opacity: 1; } /* Fade in */
  75% { opacity: 1; } /* Stay visible */
  100% { background-position: 100% 100%; opacity: 0; } /* Fade out and loop */
}

.rarityAura {
  /* Please dont modify this, I like these values */
  position: absolute;
  top: 0.75rem;
  left: 0.35rem;
  right: 0.35rem;
  bottom: 0.75rem;
  border-radius: 0.5rem;
  filter: blur(0.5rem);
  z-index: -1;
  opacity: 0;
  transform: scale(0.95);
}
