.packSelector {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.selectContainer {
  position: relative;
}

.select {
  background-color: #2d3748;
  border: 1px solid #4a5568;
  color: white;
  padding: 0.75rem 3rem 0.75rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #a78bfa;
}

.icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #a78bfa;
}
